.imagenes{
	width: 100%;
	height: 300px;
}
.botones{
	width: 100%;
	margin-top: 0;
	background-color: red;
}
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}
.redondo{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: solid 1px gray ;
}
.margenTop{
	margin-top: 50px;
}
.grande{
	font-size: 50px;
}